<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>997562884788-mcr0s967upmloc7ekek166tik3qdvekj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.997562884788-mcr0s967upmloc7ekek166tik3qdvekj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>997562884788-3h16keo5q6nr6pkj1ejqcp5op4ni78b8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBrMwqaWnIwTabN7XpSRcN8QH7Vlijuf58</string>
	<key>GCM_SENDER_ID</key>
	<string>997562884788</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebaseDatabase</string>
	<key>PROJECT_ID</key>
	<string>ubbclasses</string>
	<key>STORAGE_BUCKET</key>
	<string>ubbclasses.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:997562884788:ios:cdd8f9b45e00df21c2ede1</string>
	<key>DATABASE_URL</key>
	<string>https://ubbclasses.firebaseio.com</string>
</dict>
</plist>